Baseball-master/Ventanas/Service References/SrvEquipos/SrvEquipos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAñoInicial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoInicialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoInicialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFinal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoFinalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>