Baseball-master/Ventanas/Service References/SrvEquipos/SrvEquipos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvEquipos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51995/SrvEquipos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51995/SrvEquipos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvEquipos_GetAñoInicial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAñoInicial" />
  </wsdl:message>
  <wsdl:message name="ISrvEquipos_GetAñoInicial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAñoInicialResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvEquipos_GetAñoFinal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAñoFinal" />
  </wsdl:message>
  <wsdl:message name="ISrvEquipos_GetAñoFinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAñoFinalResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvEquipos">
    <wsdl:operation name="GetAñoInicial">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvEquipos/GetAñoInicial" message="tns:ISrvEquipos_GetAñoInicial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvEquipos/GetAñoInicialResponse" message="tns:ISrvEquipos_GetAñoInicial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAñoFinal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvEquipos/GetAñoFinal" message="tns:ISrvEquipos_GetAñoFinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvEquipos/GetAñoFinalResponse" message="tns:ISrvEquipos_GetAñoFinal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvEquipos" type="tns:ISrvEquipos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAñoInicial">
      <soap:operation soapAction="http://tempuri.org/ISrvEquipos/GetAñoInicial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAñoFinal">
      <soap:operation soapAction="http://tempuri.org/ISrvEquipos/GetAñoFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvEquipos">
    <wsdl:port name="BasicHttpBinding_ISrvEquipos" binding="tns:BasicHttpBinding_ISrvEquipos">
      <soap:address location="http://localhost:51995/SrvEquipos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>