Baseball/Ventanas/Service References/ServiceReference2/ServiceBaseball2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBaseball2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49831/ServiceBaseball2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49831/ServiceBaseball2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49831/ServiceBaseball2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo" />
      <xsd:import schemaLocation="http://localhost:49831/ServiceBaseball2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBaseball2_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_jugador_InputMessage">
    <wsdl:part name="parameters" element="tns:jugador" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_jugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:jugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_RellenarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RellenarJugador" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_RellenarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RellenarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_ObtenerSalarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalarios" />
  </wsdl:message>
  <wsdl:message name="IServiceBaseball2_ObtenerSalarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBaseball2">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseball2/DoWork" message="tns:IServiceBaseball2_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseball2/DoWorkResponse" message="tns:IServiceBaseball2_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="jugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseball2/jugador" message="tns:IServiceBaseball2_jugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseball2/jugadorResponse" message="tns:IServiceBaseball2_jugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RellenarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseball2/RellenarJugador" message="tns:IServiceBaseball2_RellenarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseball2/RellenarJugadorResponse" message="tns:IServiceBaseball2_RellenarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseball2/ObtenerSalarios" message="tns:IServiceBaseball2_ObtenerSalarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseball2/ObtenerSalariosResponse" message="tns:IServiceBaseball2_ObtenerSalarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBaseball2" type="tns:IServiceBaseball2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseball2/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jugador">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseball2/jugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RellenarJugador">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseball2/RellenarJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalarios">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseball2/ObtenerSalarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBaseball2">
    <wsdl:port name="BasicHttpBinding_IServiceBaseball2" binding="tns:BasicHttpBinding_IServiceBaseball2">
      <soap:address location="http://localhost:49831/ServiceBaseball2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>