Baseball/Ventanas/Service References/ServiceReference2/ServiceBaseball211.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bbrefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" type="xs:int" />
      <xs:element minOccurs="0" name="birthMonth" type="xs:int" />
      <xs:element minOccurs="0" name="birthState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthYear" type="xs:int" />
      <xs:element minOccurs="0" name="deathCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deathCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deathDay" type="xs:int" />
      <xs:element minOccurs="0" name="deathMonth" type="xs:int" />
      <xs:element minOccurs="0" name="deathState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deathYear" type="xs:int" />
      <xs:element minOccurs="0" name="debut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="finalGame" type="xs:dateTime" />
      <xs:element minOccurs="0" name="height" type="xs:float" />
      <xs:element minOccurs="0" name="nameFirst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameGiven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="retroID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="throws" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
</xs:schema>