Baseball-master/MvcBaseBall/Service References/ServicioEquipos/SrvEquipos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEquipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipo" nillable="true" type="tns:Equipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipo" nillable="true" type="tns:ArrayOfEquipo" />
  <xs:complexType name="Equipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AB" type="xs:int" />
      <xs:element minOccurs="0" name="BB" type="xs:int" />
      <xs:element minOccurs="0" name="BBA" type="xs:int" />
      <xs:element minOccurs="0" name="BPF" type="xs:int" />
      <xs:element minOccurs="0" name="CS" type="xs:int" />
      <xs:element minOccurs="0" name="DP" type="xs:int" />
      <xs:element minOccurs="0" name="DivWin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E" type="xs:int" />
      <xs:element minOccurs="0" name="ER" type="xs:int" />
      <xs:element minOccurs="0" name="ERA" type="xs:double" />
      <xs:element minOccurs="0" name="FP" type="xs:double" />
      <xs:element minOccurs="0" name="G" type="xs:int" />
      <xs:element minOccurs="0" name="Ghome" type="xs:int" />
      <xs:element minOccurs="0" name="H" type="xs:int" />
      <xs:element minOccurs="0" name="HA" type="xs:int" />
      <xs:element minOccurs="0" name="HBP" type="xs:int" />
      <xs:element minOccurs="0" name="HR" type="xs:int" />
      <xs:element minOccurs="0" name="HRA" type="xs:int" />
      <xs:element minOccurs="0" name="IPouts" type="xs:int" />
      <xs:element minOccurs="0" name="L" type="xs:int" />
      <xs:element minOccurs="0" name="LgWin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PPF" type="xs:int" />
      <xs:element minOccurs="0" name="R" type="xs:int" />
      <xs:element minOccurs="0" name="RA" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="SF" type="xs:int" />
      <xs:element minOccurs="0" name="SHO" type="xs:int" />
      <xs:element minOccurs="0" name="SO" type="xs:int" />
      <xs:element minOccurs="0" name="SOA" type="xs:int" />
      <xs:element minOccurs="0" name="SV" type="xs:int" />
      <xs:element minOccurs="0" name="W" type="xs:int" />
      <xs:element minOccurs="0" name="WCWin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSWin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearId" type="xs:int" />
      <xs:element minOccurs="0" name="_2B" type="xs:int" />
      <xs:element minOccurs="0" name="_3B" type="xs:int" />
      <xs:element minOccurs="0" name="attendance" type="xs:int" />
      <xs:element minOccurs="0" name="divID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="franchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lgID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="park" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamIDBR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamIDlahman45" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamIDretro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipo" nillable="true" type="tns:Equipo" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BbrefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" type="xs:int" />
      <xs:element minOccurs="0" name="BirthMonth" type="xs:int" />
      <xs:element minOccurs="0" name="BirthState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthYear" type="xs:int" />
      <xs:element minOccurs="0" name="DeathCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeathCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeathDay" type="xs:int" />
      <xs:element minOccurs="0" name="DeathMonth" type="xs:int" />
      <xs:element minOccurs="0" name="DeathState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeathYear" type="xs:int" />
      <xs:element minOccurs="0" name="Debut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinalGame" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="NameFirst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameGiven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetroID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Throws" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>