Baseball-master/MvcBaseBall/Service References/ServicioEquipos/SrvEquipos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51995/SrvEquipos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" />
  <xs:element name="GetAñoInicial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoInicialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoInicialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFinal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoFinalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquiposByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquiposByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" minOccurs="0" name="GetEquiposByYearResult" nillable="true" type="q1:ArrayOfEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEquipoAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTeam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEquipoAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" minOccurs="0" name="GetJugadoresEquipoAñoResult" nillable="true" type="q2:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" minOccurs="0" name="GetJugadorResult" nillable="true" type="q3:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RellenarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BaseBall.Modelos" minOccurs="0" name="jugador" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RellenarJugadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>