Baseball/Ventanas/Service References/ServiceReference1/ServiceBaseball.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49831/ServiceBaseball.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoInicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoInicioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAñoFinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAñoFinResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquiposAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquiposAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="GetEquiposAñoResult" nillable="true" type="q1:ArrayOfEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJugadoresEquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="GetJugadoresEquipoResult" nillable="true" type="q2:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>